<div class="admin-sidebar">
  <ul>
    <div class="sidebar">
    <h2 class="logo">Learnova</h2>

    <ul>
        <li><a href="usermain.html">Dashboard</a></li>
        <li><a href="profile.html">My Profile</a></li>
        <li><a href="mycourses.html">My Courses</a></li>
        <li><a href="assignments.html">Assignments</a></li>
        <li><a href="attendance.html">Attendance</a></li>
        <li><a href="certificates.html">Certificates</a></li>
        <li><a href="payments.html">Payments</a></li>
        <li><a href="notifications.html">Notifications</a></li>
        <li><a href="support.html">Support</a></li>
        <button class="logout-btn">Logout</button>
    </ul>
</div>
  </ul>
</div>